<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>To Do App</title>
</head>
<body class="w3-panel w3-padding-large">
<h1 class="w3-bar w3-black w3-center w3-padding-large">To Do App</h1>


<form action="/todo" method="POST">
 <input type="text" class="w3-input w3-border w3-round-large"  name="todoName" placeholder="Enter To-Do Detail here">
 <br>

 <button type="submit" class="w3-button w3-purple">Submit</button>
</form>

 <br>

 <h2>To-Do List</h2>

  <ol type ="1" class="w3-ul w3-hoverable">	
    <% for(var i=0; i < todo.length; i++){ %>
       <li class="w3-hover-green w3-center">
         <span><%= todo[i].todoName %></span>
       </li>
    <% } %>
  </ol>

</body>
</html>


