<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />  
    <title>To-Do App</title>
  </head>
  <body>
 
     <form   action="/todo" method="POST">
     <input  type="text" name="name" placeholder="Enter To-Do Detail here">
     <button type="submit">Submit</button>
     </form>

    <ul class="todo">
      <% for(var i=0; i < todo.length; i++){ %>
         <li class="todo">
           <span><%= todo[i].todo %></span>
           <span><%= todo[i]._id %></span>
           <span><%= todo[i] %></span>
         </li>
      <% } %>
    </ul>

  </body>
</html>
